{
  "extends": ["airbnb-base", "stylelint", "prettier"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "n/no-unpublished-require": "off",
    "global-require": "off",
    "func-names": "off",
    "n/no-missing-import": "off",
    "import/prefer-default-export": "off",
    "no-unused-vars": "off",
    "sort-imports": "off"
  },
  "ignorePatterns": ["gulpfile.js"]
}
